/* reset styles    RESTAURA TODOS LOS ESTILOS POR DEFECTO DEL NAVEGADOR*/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
/*end reset */

#link-navegation{
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 1em;
  font-family:sans-serif;

  background-color: #872E30;

  margin: 4px;

  border: none;
  border-radius: 5px;

  padding: 5px;

  top: 0;
  right: 0;
  position: fixed;
}

#link-navegation:hover{
  background-color: #75070A;
}
#link-navegation2{
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 1em;
  font-family:sans-serif;

  background-color: #872E30;

  margin: 4px;

  border: none;
  border-radius: 5px;

  padding: 5px;

  top: 0;
  left: 0;
  position: fixed;
}

#link-navegation2:hover{
  background-color: #75070A;
}
 /*WEIGHT*/
 /*Es el peso de la Fuente se utiliza con font-weight*/
 .primera-parte{
  margin: 100px 450px;
  font-family: serif;
 }
 h2{
   margin-bottom: 20px;
   font-size: 3em;
   color: #1C1D21;
   text-align: center;
   text-transform: uppercase;
 }
 table{
  border: 1px solid black;
  font-size: 2em;
  width: 500px;
 }
 tr{
  border-top: 1px solid #CCCCCC;
  background-color: #FFFFFF;
 }
.gray{
   background-color: #F1F1F1;
 }
 th td{
   text-align: center;
 }
 .espacio{
  padding-left: 10px;
 }
 #normal{
  font-weight: normal;
 }
 #bold{
   font-weight: bold;
 }
 #bolder{
   font-weight: bolder;
 }
 #lighter{
   font-weight: lighter;
 }
 /*WIDTH*/
 /*Es el ancho del elemento*/
 .segunda-parte{
   margin: 30px 30px;
   border: solid 5px #0F4FA8;
   border-radius: 20px;
   width: 80em;
   padding: 10px;
 }
 .segunda-parte h1{
  text-align: center;
  font-size: 1.3em;
  padding: 8px;
  color: white;
  font-weight: lighter;
 }
 .segunda-parte>h1{
   color: #00A480;
   margin-bottom:20px;
   font-size: 1.8em;
   font-weight: bolder;
 }
 .contenedor-10{
   background-color: #05316D;
   border: none;
   width: 10%;
   margin: auto;
   margin-top: 20px;
 }
 .contenedor-20{
   background-color: #160773;
   border: none;
   width: 20%;
   margin: auto;
   margin-top: 20px;
 }
 .contenedor-30{
   background-color: #006B53;
   border: none;
   width: 30%;
   margin: auto;
   margin-top: 20px;
 }
 .contenedor-40{
   background-color: #284C7E	;
   border: none;
   width: 40%;
   margin: auto;
   margin-top: 20px;
 }
 .contenedor-50{
   background-color: #3A2E85	;
   border: none;
   width: 50%;
   margin: auto;
   margin-top: 20px;
 }
 .contenedor-60{
   background-color: #1F7B67;
   border: none;
   width: 60%;
   margin: auto;
   margin-top: 20px;
 }
 .contenedor-70{
   background-color: #05316D;
   border: none;
   width: 70%;
   margin: auto;
   margin-top: 20px;
 }
 .contenedor-80{
   background-color: #4380D3;
   border: none;
   width: 80%;
   margin: auto;
   margin-top: 20px;
 }
 .contenedor-90{
   background-color: #5E4BD8;
   border: none;
   width: 90%;
   margin: auto;
   margin-top: 20px;
 }
 .contenedor-100{
   background-color: #34D2AF;
   border: none;
   width: 100%;
   margin: auto;
   margin-top: 20px;
 }
 /*DISPLAY*/
 /*La forma en la que se mostrara el elemento*/

 /*Border del contenedor principal*/
 .tercera-parte{
   margin: 30px 30px;

   border: solid 5px #0F4FA8;
   border-radius: 20px;

   width: 80em;

   padding: 10px;
 }
 .tercera-parte>h1{
   color: #00A480;

   margin-bottom:20px;

   font-family: sans-serif;
   font-size: 1.8em;
   font-weight: bolder;
   text-align: center;
 }
 .tercera-parte div p{
   margin: 20px;

   background: #05316D;

   text-align: center;
   font-family: sans-serif;
   color: white;
   font-weight: bold;

   border: none;
   border-radius: 5px;

   width: 10%;
 }
 div .segundo p{
   background: #006B53;
 }
#inline p{
   display: inline;
 }
 #block p{
   display: block;
 }
 #flex p{
   display: flex;
 }
 #inline-block p{
   display: inline-block;
 }
 #inline-flex p{
   display: inline-flex;
 }
 #inline-table p{
   display: inline-table;
 }
 #list-item p{
   display: list-item;
 }
 #run-in p{
   display: run-in;
 }
 #table p{
   display: table;
 }
 #table-caption p{
   display: table-caption;
 }
 #table-column-group p{
   display: table-column-group;
 }
 #table-header-group p{
   display: table-header-group;
 }
 #table-footer-group p{
   display: table-footer-group;
 }
 #table-row-group p{
   display: table-row-group;
 }
 #table-cell p{
   display: table-cell;
 }
 #table-column p{
   display: table-column;
 }
 #table-row p{
   display: table-row;
 }
 #none p{
   display: none;
 }
 #initial p{
   display: initial;
 }
 #inherit p{
   display: inherit;
 }

/*MAX-WIDTH*/

/*Al usar max-width estamos haciendo que la caja no crezca más de la medida especifica por lo que el contenido hara que la caja cresca verticalmente no horizontamente como en el width normal*/

.cuarta-parte{
  margin: auto;
  margin: 2% 5%;
  border: solid 4px;
  border-color: #0F4FA8;
  border-radius: 5px;
  padding: 5px;
  font-family: sans-serif;
  font-weight: lighter;
}
.cuarta-parte h1{
  font-size: 1em;
  text-align: center;
  margin: 2px;
}
.normal{
  margin: 8px;
  border: solid 2px;
  border-color: #006B53;
  border-radius: 2px;
  padding: 4px;
  with: 50%;
}
.maxima{
  margin: 8px;
  border: solid 2px;
  border-color: #006B53;
  border-radius: 2px;
  padding: 4px;
  max-width: 50%;
}

/*POSITION*/

/*La propiedad position especifica el tipo de metodo posisionamiento que se usa en un elemento*/

.quinta-parte{
  font-size: 1.3em;
  font-family: sans-serif;
  color: #1C5351;
  font-weight: bold;

  margin: auto;
  margin: 2% 3%;

  border: solid 3px;
  border-color: #872E30;
  border-radius: 5px;

  padding: 12px;
}
.quinta-parte h1{
  font-size: 2em;
  text-align: center;
  font-weight: bold;

  margin: 15px;
}
.quinta-parte div{
  background-color: #65802B;
  border: none;
  border-radius: 3px;

  color:white;

  margin: 20px;

  padding: 6px;
}
.position-static{
  position: static;
}
.position-relative{
  position: relative;
}
.position-fixed{
  bottom:0;
  right: 0;
  position: fixed;
}
.position-absolute{
  position: absolute;
}

/*OVERFLOW*/
/*Especifica que tanto se recorta el contenido y añade las scroolbars cuando el contenido de un elemento es más grande que la área especifica*/

.sexta-parte{
  margin: auto;
  margin: 75px;

  border: solid 3px;
  border-radius: 5px;
  border-color: #044845;

  font-family: serif;
  font-size: 1.2em;

  padding:10px;
}
.sexta-parte div{
  width: 95%;
  height: 100px;

  border: none;
  border-radius: 5px;

  margin: 20px;

  padding: 8px;

  background-color: #3EB7B2;
}
.sexta-parte h1{
  font-weight: bolder;
  text-align: center;

  margin: 5px;
}
.sexta-parte p{
  text-align: justify;
}
.mostrar{
  color: #872E30;
  font-weight: bolder;
}
.over-visible{
  overflow: visible;
}
.over-hidden{
  overflow: hidden;
}
.over-scroll{
  overflow: scroll;
}
.over-auto{
  overflow: auto;
}
.over-xandy{
  overflow-x: hidden;
  overflow-y: scroll;
}
 /*FLOAT*/
 /*Acomoda el elemento a nuestro placer olvidando valores predefinidos como position*/

 .septima-parte{
   margin: auto;
   margin: 75px;

   border: solid 3px;
   border-radius: 5px;
   border-color: #044845;

   font-family: serif;
   font-size: 1.2em;

   padding:10px;

   overflow: auto;
 }
 .septima-parte h1{
   text-align: center;
   margin: 5px;
   text-transform: uppercase;
 }
 .septima-parte div{
   width: 50%;
   text-align: center;
 }
 .flo-left{
   background: #4D6F06;
   color: white;
   float: left;
 }
 .flo-right{
   background: #65802B;
   color: white;
   float: right;;
 }

 .septima-parte--sinOver{
   margin: auto;
   margin: 75px;

   border: solid 3px;
   border-radius: 5px;
   border-color: #044845;

   font-family: serif;
   font-size: 1.2em;

   padding:10px;
 }
 .septima-parte--sinOver h1{
   text-align: center;
   margin: 5px;
   text-transform: uppercase;
 }
 .septima-parte--sinOver div{
   width: 50%;
   text-align: center;
 }

.octava-parte{
  margin: auto;
  margin: 10% 20%;

  padding: 10px;

  border: solid 3px;
  border-color: #044845;
  border-radius: 5px;

  font-family: sans-serif;
  font-size: 1.3em;
}
.octava-parte h1{
  text-transform: uppercase;
  text-align: center;
  color: #65802B;
  margin-bottom: 10px;
}
.texto{
  padding: 5px;
}
 li{
    list-style: circle;
}

.link{
  text-decoration: none;
  font-size: 2em;
  font-family: sans-serif;
  padding: 5px 10px 10px 10px;
}

/*OPACITY*/
.novena-parte{
  margin: auto;
  margin: 10% 20%;

  padding: 10px;

  border: solid 3px;
  border-color: #044845;
  border-radius: 5px;

  font-family: sans-serif;
  font-size: 1.3em;
}
.novena-parte>h1{
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.novena-parte div{
  width: 80%;
  height: 350px;

  margin: auto;
  margin: 10px 70px;

  background-color: #044845;

  opacity: 0.8;
}
 img{
  width: 80%;
  height: 350px;

  margin: auto;
  margin: 10px 70px;
}
.T-Image{
  opacity: 0.7;
}
.T-Hover-Efect{
  opacity: 0.5;
}
.T-Hover-Efect:hover{
  opacity: 1.0;
}
div .T-RGBA{
  width: 80%;
  height: 350px;

  margin: auto;
  margin: 10px 70px;

  background: rgba(2,28,27,0.5);/*red,green,blue,opacity*/
}
div .Back{
  background: url(images/opacity.jpg);

  width: 80%;
  height: 350px;

  margin: auto;
  margin: 10px 70px;

}
div .T-Text-Transparent-Box{
  margin: auto;
  margin: 10px 10px;

  overflow: hidden;

  padding: 5px 5px;

  background-color: white;
  opacity: 0.5;

  font-size: 1em;
  color: #044845;
}
/*NAV BAR*/
.nav-bar {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #366C6A;
}
.nav-bar--li{
  float: left;
  color: #99A4A3;
  list-style: none;
  display: block;
  padding: 8px;
  text-align: center;
  font-size: 1.2em;
  text-align: center;
}
.nav-bar--li:hover{
  background-color: #122423;
}
.nav-bar li {
  margin-left: 80px;
  font-size: 1.5em;
}
.nav-bar--a{
  text-decoration: none;
}
.nav-bar--a:visited{
  color: #99A4A3;
}
/*DROPDOWN*/
.nav-bar--DD{/*Palabra de la que se despliega el menu*/
  float: left;
  color: #99A4A3;
  list-style: none;
  display: block;
  padding: 8px;
  text-align: center;
  font-size: 1.2em;
  text-align: center;
  position: relative;/*Para que a la lista desplegable se le de una posicion absoluta*/
}
.ol-DD{/*Lista desplegable*/
  display: none;
  position: absolute;
  min-width: 100px;
  margin-top: 43px;
  margin-left: -242px;
}
.list-DD{
  list-style: none;
  padding: 5px 2px;
  background-color: red;
  background-color:  #122423;
  color: #99A4A3;
}
li:last-child{
  border-bottom: none;
}

.list-DD:hover{
  border-bottom: solid #99A4A3 1px;
  background-color:  #366C6A;
}
.nav-bar--DD:hover{
  background-color: #122423;
  cursor: pointer;
}
.nav-bar:hover .ol-DD{/*Del nava bar padre aparecera una nueva lista*/
  display: inline-block;
  transition: 1s;
}
.pal{
  padding: 20px;
  font-size: 2em;
  position: relative;
  display: inline-block;
}
.pal-oculta{
  visibility: hidden;
  padding: 0 5px;
  font-size: .8em;
  background-color: #366C6A;
  color: #99A4A3;
  position: absolute;
  text-align: center;
  border-radius: 5px;
  margin-top: -30px;
  margin-left: 60px;
  display: inline-block;
}
.pal:hover .pal-oculta{
   visibility: visible;
}
/*GALERIA*/
.galeria{
  margin: auto;
  margin: 1% 8%;
  width: 80%;
  height: 100%;
  background-image: url(images/chloeM.jpg);
  background-repeat: no-repeat;
  background-position: left top, left bottom;
  opacity: 0.8;
}
.galeria img{
  width: 20%;
  height: 20%;
  margin: 1% 2%;
  opacity: 0.3;
}
.galeria img:hover{
  opacity: 0.9;
}
.galeria img:active{
  width: 30%;
  height: 30%;
}

/*RESPONSIVE DESING*/
/*1. Viewport
2. Media Queries
3. Modelo de caja
4. Grids
5. Manejo de imágenes
6. HDPI devices*/
/*RGBA*/
/*CLEAR*/
